<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
 
 	<bean id="mensajeCumple" class="com.spring.Mensaje">
 		<property name="texto" value="FELIZ CUMPLE!"></property>
 	</bean>

 	<bean id="mensajeNavidad" class="com.spring.Mensaje">
 		<property name="texto" value="FELIZ NAVIDAD!"></property>
 	</bean>

 	<bean id="mensajeComun" class="com.spring.Mensaje">
 		<property name="texto" value="BUEN DIA!"></property>
 	</bean>

	<bean id="mensajePascua" class="com.spring.Mensaje">
 		<property name="texto" value="FELICES PASCUAS!"></property>
 	</bean>
 	
 	<bean id="mensajeDao" class="com.spring.MensajeDao"></bean>
 	
 	<bean id="mensajeService" class="com.spring.MensajeService">
 		<property name="mensajeDao" ref="mensajeDao"></property>
 	</bean>
 	
</beans>